
<body>
    <h1> User Information </h1>
    <p class="with_padding"> <strong>Dementia</strong>  refers to the condition of impaired cognitive functions such as thinking,
        remembering, and reasoning that interferes with daily life (National Institute of Aging,
        2022). The most well-known type of dementia is Alzheimer’s disease, which is common in
        older adults. In contrast to the common belief that dementia is only due to old age,
        there are many other risk factors that cause dementia to develop at an earlier age.
        Those are family history, race, ethnicity, poor health, and traumatic brain injury
        (Centers for Disease Control and Prevention, 2019). Unfortunately, there is currently
        no cure for dementia. The risk increases with increasing age if left undetected.
        Therefore, early detection is critical to apply treatments and change lifestyle that
        may help in slowing down the disease progress.</p>

    <p class="with_padding">Assessments can be a valuable first step toward getting treatment. All too often people stop short of seeking he
        lp out of fear their concerns aren't legitimate or severe enough to warrant professional
        intervention. The <strong>Self-Administered Gerocognitive Exam (SAGE)</strong> is designed to detect early
        signs of cognitive, memory or thinking impairments. It evaluates your thinking abilities
        and provides you with score indicates whether you need to seek professional help. </p>

    <p class="with_padding">Traditional SAGE is administered in paper and pen form. Here at Dementia Test, we transformed SAGE into
        electronic form for easy access and more accurate result feedback. </p>

    <h2>Test administration</h2>
    <ul>
        <li> Fill out the test without assistance of others</li>
        <li>Calendars and clocks should not be available during the testing</li>
        <li>Just do the best that you can</li>
        <li>There is no time limit. Average time to complete is 10 to 15 minutes</li>
    </ul>

    <h2>Scoring</h2>
        <p class = "no_padding"> After finishing Dementia Test you will be provided with a score based on your response. </p>
        <ul>
            <li>Maximum score is 12</li>
            <li>A score of 9 and above is considered normal</li>
        </ul>

    <h2>Disclaimer</h2>
    <p class="with_padding">The test is intended to provide guidance for potential patient and information for provider.
        It is NOT an official diagnosis. Mental health disorders can only be diagnosed by
        licensed healthcare professionals.</p>

    <h2>Links</h2>
    <p class = "no_padding">To learn more about dementia</p>
    <ul>
        <li><a href="https://www.cdc.gov/aging/dementia/index.html">
            https://www.cdc.gov/aging/dementia/index.html</a></li>
        <li><a href="https://www.nia.nih.gov/health/alzheimers-and-dementia/what-dementia-symptoms-types-and-diagnosis">
            https://www.nia.nih.gov/health/alzheimers-and-dementia/what-dementia-symptoms-types-and-diagnosis</a></li>
        <li><a href="https://www.alz.org/alzheimers-dementia/what-is-dementia">
            https://www.alz.org/alzheimers-dementia/what-is-dementia</a></li>
    </ul>

    <p class = "no_padding">To learn more about SAGE test</p>
    <ul>
        <li><a href="https://wexnermedical.osu.edu/brain-spine-neuro/memory-disorders/sage">
            https://wexnermedical.osu.edu/brain-spine-neuro/memory-disorders/sage</a></li>
    </ul>








</body>

