h1 {
    margin: 0; /* Remove default margin for the heading */
      padding: 50px;
      text-align: center;
      color: #3f51b5;
      font-size: 30px;
      width: 100%;
      box-sizing: border-box;
      overflow-x: hidden;

      line-height: 1.5;
      font-weight: bold;
}